.btn {
  font-size: 1em;
  font-weight: bold;
  line-height: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.5s;
}
.btn-new {
  color: #fff;
  background-color: #ff0000;
  padding: 1rem 1.25rem;
}

.btn-sold {
  color: #000;
  border: 1px solid #000;
  background-color: transparent;
  padding: 1rem 1.25rem;
}

.btn-new:hover {
  transform: scale(1.1);
}

.btn-add {
  color: #fff;
  background-color: rgb(0, 128, 0);
  padding: 1rem 3rem;
  font-size: 1.25rem;
}
