@import "../../styles/toRemConverter";

.card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  min-height: 10rem;
  //width: 100vw;
  width: 100%;
  padding: 0 0 1rem 0;
  margin-bottom: toRem(20);
  background-color: #fff;
  border-radius: toRem(5);
  overflow: hidden;

  .cardBody {
    padding-left: toRem(10);
    padding-right: toRem(10);
  }
}

.imgStyle {
  width: 100%;
  height: 7rem;
  object-fit: cover;
}
