form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}
form input {
  font-size: 1rem;
  font-weight: normal;
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  text-transform: capitalize;
  padding: 1rem;
}
