.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 158px 0 71px 0;
}
.header-content .row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header-content .row .col-xl-6 {
  width: 100%;
}
.header-content .row .col-xl-6 h1 {
  font-family: Heebo-Bold;
  font-weight: bold;
  font-size: 44px;
  line-height: 60px;
  color: #21243d;
  width: 446px;
  margin: 0;
}
.header-content .row .col-xl-6 p {
  font-family: Heebo-Regular;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #21243d;
  width: 497px;
  margin: 40px 0;
}
