.footer {
  display: flex;
  justify-content: center;
  padding: 52px 0;
}
.footer .row .col-xl-12 .footer-img {
  display: flex;
  justify-content: space-between;
}
.footer .row .col-xl-12 .footer-link p {
  font-family: Heebo-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #21243d;
  margin: 26px 0 0 0;
}
