.position-relative {
  position: relative;
  display: flex;
  justify-content: end;
}
.position-relative .circle {
  width: 243px;
  height: 243px;
  background: #edf7fa;
  border-radius: 50%;
}
.position-relative img {
  position: absolute;
  top: -13px;
  right: -5px;
  z-index: 0;
  width: 243px;
  height: 243px;
  z-index: 1;
}
