.future {
  padding: 15px 0 52px 0;
}
.future .row .col-xl-12 .text h3 {
  font-family: Heebo-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 60px;
  color: #21243d;
  margin: 0 0 22px 0;
}
